doctype html 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/css/Signin.css")
        link(rel="shortcut icon", href="/media/Qastra.jpeg", type="image/x-icon")
        title Qastra: Enter new Password
    body
        include ./PreLoader.pug
        .background
            img(src="/media/interface-background-2.jpeg", alt="")
            .shade
        .main
            h1 Qastra
            h4 Enter new Password
            form(action="/new-password", method="post")
                input(
                    type="password", 
                    placeholder="**** ****", 
                    required, 
                    autocomplete="off", 
                    spellcheck="false", 
                    name="password", 
                    pattern="^(?=.*[0-9])(?=.*[!@#$%^&*])[A-Za-z\\d!@#$%^&*]{8,}$", 
                    title="Password must be at least 8 characters, include 1 number and 1 special character"
                )
                input(
                    type="text", 
                    placeholder="Reset Code", 
                    required, 
                    autocomplete="off", 
                    spellcheck="false", 
                    name="token"
                )
                input(type="submit", value="Change Password")
        script(src="/js/Signin.js")
    include ./footer.pug
